body{
    background-color: whitesmoke;
    box-sizing: border-box;
    padding: 30px 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image img{
    height: 300px;
    width: 200px;
}

